<h2>Company Show</h2>

  <hr>
  <%= link_to image_tag( @company.logo) %>
  <p><%= @company.name %></p>
  <p><%= @company.angel_list_id %></p>
  <p><%= @company.description %></p>
  <p><%= @company.rating %></p>
  <p><%= @company.url %></p>
  <p><%= @company.twitter_url %></p>
  <p><%= @company.address %></p>
  <hr>
