<% #partial for both company's show page and investor's show page %>
<h1><%= @company.name %></h1>
<%= link_to "back", :back %>
  <hr>
  <p>followers <%= @company.users.count %>

  </p>
  <%= link_to image_tag( @company.logo) %>

  <% #follow and unfollow compmany/investor buttons %>
  <% if current_user.nil? %>
    <% :back %>
  <% else %>
    <% if current_user.companies.include?(Company.find(params[:id]))  %>
      <%= button_to "unfollow", {action: "unfollow"} %>
    <% else %>
      <%= button_to "follow", {action: "follow"} %>
    <% end %>
  <% end %>

  <% #company attributes %>
  <p>Description: <%= @company.description %></p>
  <hr>
  <p>Founded: <%= @company.founded %></p>
  <p>Founders: <%= @company.founders %></p>
  <p>Number of Employees: <%= @company.employee_count %></p>
  <p>Rating: <%= @company.rating %></p>
  <p>URL: <%= link_to @company.url %></p>
  <p>Twitter: <%= @company.twitter_url %></p>
  <p>Address: <%= @company.address %></p>
  <p>Email: <%= mail_to @company.email %></p>
  <p>Market: <%= @company.market %></p>
  <p>Last Updated On: <%= @company.updated_at.strftime("%m/%d/%Y")  %></p>
  <hr>
