<h2>Company Index</h2>
<%=  form_tag companies_path, class: "form-inline", method: :get %>
  <%= text_field_tag :query, params[:query], class: "form-control" %>
  <%=  submit_tag "Search" %>

  <%= link_to "Clear", companies_path %>


<%  @companies.select { |x| x["rating"] > 7 && x["logo"] != " https://angel.co/images/shared/nopic_startup.png"}.sample(25).each do |co| %>
  <hr>
  <div id="company_logo">
    <%= link_to image_tag(co.logo), company_path(co[:id]) %>
  </div>
  <p><%= co.hi_concept %></p>
  <hr>
  <% end %>
